<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Expense List</title>
      <link rel="stylesheet" th:href="@{/css/style.css}">
    
</head>
<body>
<h2>Expense List</h2>

<a th:href="@{/expenses/add-expense}" class="button-link">Add New Expense</a>
<h3>Total Expenses: <span th:text="${totalExpenses}"></span></h3>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>

  <tbody>
    <tr th:each="expense : ${expenses}">
        <td th:text="${expense.id}"></td>
        <td th:text="${expense.amount}"></td>
        <td th:text="${expense.description}"></td>
        <td th:text="${expense.date}"></td>
        <td>
            <a th:href="@{/expenses/showFormForUpdate/{id}(id=${expense.id})}">Update</a>
            <a th:href="@{/expenses/deleteExpense/{id}(id=${expense.id})}"
   onclick="return confirm('Are you sure you want to delete this expense?')">
    Delete
</a>
            
        </td>
    </tr>
</tbody>
</table>
<button class="btn btn-primary" onclick="window.print()" style="margin-top: 20px;">Print Expense List</button>

</body>
</html>
